
*{
    margin: 0px;
}

header{
    background-color: greenyellow;
    height: 75px;
}
main{
    background-color: khaki;
    height: 100%;
}
footer{
    background-color: lightpink;
    height: 120px;
    margin: 0;
}
nav{
    background-color: lightskyblue;
    height: 75px;
}


#logo{
    height: 75px;
    object-fit: cover;
}


@font-face {
    font-family: "sea_font";
    src: url("../resource/나눔손글씨\ 세아체.ttf") format("truetype");
}
.font{
    font-family: "sea_font";
    font-size: x-large;
}

#main_contents{
    text-align: center;
    background-color: #eee;
    flex-grow: 1
    
}

.rayout{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    
}
.header_display_logo{
    background-size: cover;
    
}
.nav_display{
    line-height: 75px;
}
.item{
    
}
