
*{
    margin: 0px;
}

.bgi1{
    position: relative;
    /* width: 1200px; */
    /* z-index: -5; */
}

.bgi1_text{
    color: yellow;
    font-size: 24pt;
    position: absolute;
    z-index: 5;
    top: 0px;
    
    
}

/* 스크롤을 한번이라도 움직여야 배경색이 적용 되기 때문에 기본값으로 0~33% 배경색을 줌 */
/* bg클래스에 적용시키니 초기값으로 작동이 안됨 -> ? */
/* .bg{ */
body{
    background-color: lightyellow;

}