
*{
    margin: 0px;
}

.bgi1{
    position: relative;
    /* width: 1200px; */
    /* z-index: -5; */
}

.bgi1_text{
    color: yellow;
    font-size: 24pt;
    position: absolute;
    z-index: 5;
    top: 0px;
}
body{
    background-color: lightyellow;

}