
*{
    margin: 0px;
}

.default_layout{ /* 전체 영역 */
    width: 1200px; 
    min-height: 1500px; 
    margin: 30px auto;
    /* border: 3px #000 solid; */
}
header{
    width: 100%;
    height: 75px;
}
main{
    background-color: khaki;
    min-height: 300px;
    
}
footer{
    background-color: lightpink;
    height: 120px;
    padding: 10px;
}

/* 헤더 레이아웃 구성*/
.logoBox{
    float: left;
    width: 150px;
    height: 75px;
}
#logo{  /* 로고 이미지 크기 고정 */
    width: 150px;
    height: 75px;
}

nav{
    width: 800px;
    height: 75px;
    float: left;
}

.login_cart{
    background-color: burlywood;
    width: 250px;
    height: 75px;
    float: left;
}


#main_contents{
    text-align: center;
    background-color: #eee;
    width: 100%;
    min-height: 200px;
}
/* 네비바 관련 */
.nav_menu{
    width: 800px;
    height: 75px;
}
.nav_display{
    background-color: cornflowerblue;
    float: left;
    width: 160px;
    height: 75px
}
.caption{
    clear: left;
    opacity: 0;
    overflow: hidden;
}
.caption_display{
    display: block;
    background-color: skyblue;
    width: 160px;
    height: 40px;
}
.caption li{
    line-height: 40px;
    overflow: hidden;
    clear: left;
    background-color: #eee;
    z-index: -5;
    /* pointer-events: none; */
}
.nav_menu li:hover .caption{
    opacity: 1;
    background-color: skyblue;
    z-index: 10;
    overflow: visible;
    /* pointer-events: visible; */
}
a:link, a:visited {
    color:black;
    text-decoration: none;
}
nav a:hover {
    background-color: rgb(93, 93, 241);
}



header ul{
    list-style-type: none;
    float: left;
    list-style-position: inside;
    padding: 0px;
}
header li{
    float: left;
    text-align: center;
    line-height: 75px;
    font-weight: bold;
}

/* 로그인 페이지 관련 */
.loginPage_ul, .loginPage_ul li{
    list-style-type: none;
    
}
li label{
    text-align: left;
    display: inline-block;
    width: 120px;
}
.login_button{
    float: left; 
    width: 80px; 
    height: 50px; 
    margin: 0px 0px 0px 10px;
}




@font-face {
    font-family: "sea_font";
    src: url("../resource/나눔손글씨\ 세아체.ttf") format("truetype");
}
.font{
    font-family: "sea_font";
    font-size: x-large;
}
